/*external styling*/
/*
	CSS Rules:
	Selector {
		property:value;
	}

*/

/*type selector*/
h1 {
	color:green !important;
	text-align: center;
	font-size: 2rem;
}

/*Universal Selector*/
*{
	font-family: "Courier New", monospace;
	font-size: 20px;
}

/*ID selector*/
#zuitt-motto {
	/* letter spacing property changes the space inbetween the letters */
	letter-spacing: 5px;
}

/*class selector*/
.offering-item {
/*text-transform property changes font to a certain case*/
	text-transform: uppercase;
}

/*attribute selector*/
[required] {
/*thickness of the border*/
	border-width: 2px;
	border-style: solid;
	border-color: navy;
	width: 90%;
}

h3 {
	letter-spacing: 25px;
}

/*selector combinators*/
/*adjacent sibling selector*/
h3 + img{
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

/*Child selector*/
body>section>ol>li {
	color: #F66622;
}

/*general sibling connector*/
/*remove underline back to top*/
h2~a {
	text-decoration: none;
}


/*Descendant selector*/
#register label {
	color: rgb(0, 0, 128);
}

/*background color*/
body {
	background-color: skyblue;
}
/*for the smoothness of the scrolling experience*/
html {
	scroll-behavior: smooth;
}

nav {
	background-color: white;
}

/*for the hover effect*/
a:hover {
	background-color: #b4d6de;
}


div {
	display: inline-block;
	float: right;
}

/*viewport heigt - taas ng screen */
section {
	height: 100vh;
	text-align: center;
}

/*medyo lalaki ang h2 (register at welcome to zuitt)*/
h2 {
	font-size: 1.5rem;
}

ol {
	list-style-type: none;
}

/*adjacent sibling selector*/
h2 + form {
	text-align: center;
	background-color: white;
	position: relative;
	width: 25vw;
	height: 185px;
	border: 2px solid black;
	left: 37.5%;

}

button {
	background-color: #ED3F4A;
	color: white;
	border: 0;
	border-radius: 15px;
}