p {
	color: yellow;
}

* {
	font-family: "calibri", monospace;
	font-size: 18px;
}

h1 {
	font-size: 50px;
}

#boot-camp {
	text-transform: uppercase;
}

.language-to-learn {
	background-color: darkseagreen;
}

[tools] {
	border: 2px solid lightblue;
}

ol + h2 {
	list-style-type: none;
}

#others img {
	height: 100px;
	width: 100px;
	border-radius: 50px;
}

h3~div {
	text-align: center;
}

body>section>ul {
	list-style-type: none;
	letter-spacing: 5px;
}